h1{
font-size:65px;
font-family:Freestyle Script;
color:#78222e;	
text-align: center;
}

h3{
font-family:Georgia;
color:#9f8170;
font-size:25px;
}

.sub-topic{
	font-family:French Script MT;
	font-size:50px;
	text-align: center;
	color: #580000;

}

.flex-container {
  display: flex;
  height: 350px;
  align-items: center;
  background-color: #f6e0e2;
}

.flex-container > div {

  width: 50px;
  margin: 10px;
  text-align: center;
  line-height: 105px;
  
}

.cover{
	width: 1105px; 
	height:295px;
	margin-left: 20px;
	margin-top:40px;	
}

.flex-long {
  display: flex;
  height: 900px;
  background-color: #f1f1f1;
}

.flex-long > div {
  background-color:#e7e3ff;
  color: black;
  width: 400px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 25px;
}

.flex-Occassions{
  justify-content: center;
  display: flex;
  height: 350px;
  align-items: center;
  background-color: #f6e0e2;
}

h4{
font-size:25px;
font-family:Berlin Sans FB;
color:black;	
text-align: center;
}

.text{
font-size:25px;
font-family:Berlin Sans FB;
color:black;	
text-align: center;

}
