body{
    background-color:#66e7c0;
   }
   header{
       font-size: 30px;
    position: fixed;
    margin-left: 1050px;
   }
   topnav{
    overflow: hidden;
    background-color: #333;
   }
   
   h1{
   font-size:65px;
   font-family:Bradley Hand, cursive;
   color:#100731;	
   text-align: center;
   }
   
   h3{
   font-family:Apple Chancery, cursive;
   color:#100731;
   font-size:25px;
   }
   
   .sub-topic{
       font-family:Luminari, fantasy;
       font-size:36px;
       text-align: center;
       color: #100731;
   
   }
   
   .description
   {
     font-family:Berlin Sans FB;
     font-size:23px;
       text-align: center;
       color: #05030a;
   
   } 

   
   .flex-long {
     display: flex;
     height: 900px;
     background-color: #a879a4;
   }
   
   .flex-long > div {
     background-color:#a879a4;
     color: black;
     width: 400px;
     margin: 10px;
     text-align: center;
     line-height: 75px;
     font-size: 25px;
   }
   
   .flex-Milk{
    background-image: url(../IMAGE/SpiceMix4.jpg);
    background-size: cover;
    background-position: center;
     justify-content: center;
     display: flex;
     height: 350px;
     align-items: center;
     background-color: #e8f383;
   }
   
   h4{
   font-size:30px;
   font-family:Jazz LET, fantasy;
   color:#13522b;	
   text-align: center;
   }
   
   .text{
   
   font-size:25px;
   font-family:Trattatello, fantasy;
   color:darkblue;	
   text-align: center;
   
   }
   