.flex-container {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(95, 226, 90);
    justify-content: center;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 500px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
  }

  .img2 {
    float: none;
    border-radius: 50%;
    margin-top: 3%;
    width: 200px;
    height: 200px;
}

p{
    font-style: normal;
    font-weight: bolder;
}

.header {
    padding: 40px;
    text-align: left; 
    background: #12725f;
    color: white;
    font-size: 40px;
    border-radius: 15px;
    background: url("../IMAGE/flexbox1.jpg");
    background-position: center;
  }

  .header2 {
    padding: 40px;
    text-align: left;
    background: #65940d;
    color: white;
    font-size: 30px;
    border-radius: 15px;
    margin-left: 900px;
  }


  
